@font-face{
    src: url(../fonts/Roboto-Regular.ttf);
    font-family: roboto-regular;
  }

  @font-face{
    src: url(../fonts/Roboto-Bold.ttf);
    font-family: roboto-bold;
  }


.header-general{
    
    width: 900px;
    display: flex;
    top: 100000px;
    background: #f1efef;
    align-items: space-between;
    justify-content: center;
    padding-bottom: 15px;

}

.line-label-general{
 
    justify-content: left;
    font-family: roboto-bold;
   text-align: left;
    margin-top: 17px;
    color:black;
    font-weight: 500;

}

